<ul class="panes" ng-class="{hasVoting: hasVoting}" ng-controller="ScheduleCtrl as schedule">
    <li>
        <h1>Current talks</h1>
        <h2 ng-show="schedule.loading">Loading...</h2>
        <div ng-repeat="item in schedule.scheduleNow|orderBy:'roomPadded'" class="listEntry" ng-hide="schedule.loading">
            <span class="room">{{item.room}}</span>
            <div class="text">
                <span class="highlight">{{item.time}}</span>
                {{item.title}}
                <span class="warning">{{item.speakers}}</span>
            </div>
        </div>
    </li>

    <li>
        <h1>Next up</h1>
        <h2 ng-show="schedule.loading">Loading...</h2>
        <div ng-repeat="item in schedule.scheduleNext|orderBy:'roomPadded'" class="listEntry" ng-hide="schedule.loading">
            <div class="room">{{item.room}}</div>
            <div class="text">
                <span class="highlight">{{item.time}}</span>
                {{item.title}}
                <span class="warning">{{item.speakers}}</span>
            </div>
        </div>
    </li>

    <li ng-controller="VotingCtrl as voting" ng-if="::hasVoting">
        <div>
            <h1 class="bestof">Top Talks Overall</h1>
            <h2 ng-show="voting.loadingWeek">Loading...</h2>
            <div ng-repeat="talk in voting.topTalksOfWeek" class="listEntry" ng-hide="voting.loadingWeek">
                <div class="talkScore">
                    <div class="avg">{{talk.avg|number:1}}</div>
                    <div class="count">{{talk.count|number}} votes</div>
                </div>
                <div class="text">
                    {{talk.title}}
                    <span class="warning">
                        <span ng-repeat="speakerName in talk.speakers"> {{speakerName}} </span>
                    </span>
                </div>
            </div>
        </div>
    </li>

    <li ng-controller="VotingCtrl as voting" ng-if="::hasVoting">
        <div>
            <h2 class="bestof">Today's Top Talks</h2>
            <h2 ng-show="voting.loadingDay">Loading...</h2>
            <div ng-repeat="talk in voting.topTalksOfDay" class="listEntry" ng-hide="voting.loadingDay">
                <div class="talkScore">
                    <div class="avg">{{talk.avg|number:1}}</div>
                    <div class="count">{{talk.count|number}} votes</div>
                </div>
                <div class="text">
                    {{talk.title}}
                    <span class="warning">
                        <span ng-repeat="speakerName in talk.speakers"> {{speakerName}} </span>
                    </span>
                </div>
            </div>
        </div>
    </li>

</ul>
