<ul class="panes"
    ng-class="{hasVoting: hasVoting}"
    ng-controller="ScheduleCtrl as schedule"
    ng-switch on="schedule.currentPane">
    <li ng-switch-when="0" class="pane">
        <h1>Current talks</h1>
        <h2 ng-show="schedule.loading" class="animated infinite pulse">Loading...</h2>
        <div ng-repeat="item in schedule.scheduleNow|orderBy:'room'" class="listEntry" ng-hide="schedule.loading" on-show-animate="flashBorder">
            <span class="room">{{item.room}}</span>
            <div class="text">
                <span class="talkTime">{{schedule.getTimeString(item)}}</span>
                <span class="talkName">{{item.title}}</span><br>
                <span class="warning">{{item.speakers}}</span>
            </div>
        </div>
    </li>

    <li ng-switch-when="1" class="pane">
        <h1>Next up</h1>
        <h2 ng-show="schedule.loading" class="animated infinite pulse">Loading...</h2>
        <div ng-repeat="item in schedule.scheduleNext|orderBy:'room'" class="listEntry" on-show-animate="flashBorder">
            <div class="room">{{item.room}}</div>
            <div class="text">
                <span class="talkTime">{{schedule.getTimeString(item)}}</span>
                <span class="talkName">{{item.title}}</span><br>
                <span class="warning">{{item.speakers}}</span>
            </div>
        </div>
    </li>

<!--    <li ng-switch-when="2" class="pane" ng-controller="VotingCtrl as voting">-->
<!--        <h1>Top Talks Overall</h1>-->
<!--        <h2 ng-show="voting.loadingWeek">Loading...</h2>-->
<!--        <div ng-repeat="talk in voting.topTalksOfWeek" class="listEntry" on-show-animate="flashBorder">-->
<!--            <div class="talkScore">-->
<!--                <div class="avg">{{talk.ratingAverageScore|number:1}}</div>-->
<!--                <div class="count">{{talk.ratingTotalVotes|number}} votes</div>-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                {{talk.proposalTitle}}-->
<!--                <span class="warning">-->
<!--                    <span> {{talk.proposalsSpeakers}} </span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->

<!--    <li ng-switch-when="3" class="pane" ng-controller="VotingCtrl as voting">-->
<!--        <h1>Today's Top Talks</h1>-->
<!--        <h2 ng-show="voting.loadingDay">Loading...</h2>-->
<!--        <div ng-repeat="talk in voting.topTalksOfDay" class="listEntry" on-show-animate="flashBorder">-->
<!--            <div class="talkScore">-->
<!--                <div class="avg">{{talk.ratingAverageScore|number:1}}</div>-->
<!--                <div class="count">{{talk.ratingTotalVotes|number}} votes</div>-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                {{talk.proposalTitle}}-->
<!--                <span class="warning">-->
<!--                    <span> {{talk.proposalsSpeakers}} </span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->

<!--    <li ng-switch-when="4" class="pane" ng-controller="HuntlyCtrl as huntly">-->
<!--        <h1>Huntly leaderboard</h1>-->
<!--        <h2 ng-show="huntly.loading" class="animated infinite pulse">Loading...</h2>-->
<!--        <div ng-repeat="item in huntly.leaderboard" class="listEntry p{{$index+1}}" ng-class="{'pn': $index+1 > 4}" on-show-animate="flashBorder">-->
<!--            &lt;!&ndash;<div class="rank">{{$index+1}}</div>&ndash;&gt;-->
<!--            <div class="credits">{{item.credits}}</div>-->
<!--            <div class="text huntlyName">-->
<!--                {{item.username}}-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->

</ul>
