* {
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
h1 {
  font-size: 2em;
  text-indent: 4px;
}
#cinema {
  margin-top: 130px;
  background: url('../images/dvpl16.f038afa2.png') no-repeat;
  border: none;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#cinema #carousel {
  top: 190px;
  left: 40px;
}
#carousel {
  width: 750px;
  left: 50px;
  position: absolute;
  overflow: hidden;
  background: #000000;
  background: -webkit-linear-gradient(top, #000000 0%, #000000 100px, rgba(0, 0, 0, 0) 200px);
  background: linear-gradient(to bottom, #000000 0%, #000000 100px, rgba(0, 0, 0, 0) 200px);
  border: 1px solid #ffacce;
  border-radius: 100px / 40px;
}
#carousel > .panes {
  width: 400%;
  left: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: carouselAnim 40s infinite;
  -moz-animation: carouselAnim 40s infinite;
  -webkit-animation: carouselAnim 40s infinite;
}
#carousel > .panes > li {
  position: relative;
  float: left;
  width: 25%;
}
#carousel > .panes > li h1,
#carousel > .panes > li h2 {
  color: #ffacce;
  font-weight: bolder;
  text-shadow: #ffacce 0 0 2px;
  -webkit-text-stroke: 2px #ffacce;
  letter-spacing: 5px;
  text-align: center;
}
#carousel > .panes > li .listEntry {
  margin: 3px 5px;
  position: relative;
  background-color: #000;
  color: #fff;
  height: 55px;
  clear: both;
  overflow-y: hidden;
  border: 2px solid #ffacce;
  border-radius: 30px 10px 20px 10px;
}
#carousel > .panes > li .listEntry .talkScore {
  float: left;
  width: 75px;
  height: 75px;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
#carousel > .panes > li .listEntry .talkScore .avg {
  font-size: 2em;
  border-bottom: 2px solid #00b4ff;
  color: #ffacce;
  font-weight: bold;
  margin: -4px 0;
}
#carousel > .panes > li .listEntry .talkScore .count {
  margin: 1px;
}
#carousel > .panes > li .listEntry .room {
  float: left;
  width: 75px;
  position: relative;
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#carousel > .panes > li .listEntry .text {
  vertical-align: middle;
  font-size: 1.3em;
  word-wrap: normal;
  margin: 3px;
}
#carousel > .panes > li .listEntry .highlight {
  color: #00b4ff;
}
#carousel > .panes > li .listEntry .warning {
  color: #00b4ff;
}
#carousel > .panes > li .listEntry .error {
  color: #ff4520;
}
#carousel > .panes > li .listEntry .gamePoints {
  float: left;
  width: 200px;
  position: relative;
  font-size: 3em;
  margin: 8px 0 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
@keyframes carouselAnim {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes carouselAnim {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes carouselAnim {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: 0;
  }
}
#tweets {
  position: absolute;
  right: 20px;
  top: 120px;
  width: 1000px;
  height: 100%;
  display: table;
}
#tweets .container {
  display: table-cell;
  vertical-align: middle;
  width: 780px;
}
#tweets .container .border > div {
  width: 760px;
  height: 100px;
  clear: both;
  margin: 60px 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  border: solid 1px #ebeb00;
  -webkit-box-shadow: #ebeb00 0 0 5px;
  overflow: hidden;
}
#tweets .container .image img {
  width: 100px;
  height: 100px;
  float: right;
}
#tweets .container .tweet {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.40em;
  font-weight: bold;
  line-height: 1.2em;
  color: white;
  float: none;
  text-shadow: 2px 2px 2px #000;
}
#tweets .container .tweet .author {
  color: #ff4520;
  font-size: 0.95em;
  clear: left;
}
#notice {
  font-size: 1.2em;
  color: #ffacce;
  background-color: #000;
  border: 2px solid #ffacce;
  border-radius: 20px;
  position: absolute;
  transform: rotate(-10deg);
  top: 40px;
  right: 25px;
  width: 440px;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
}
div.tweet {
  position: absolute;
  left: 200px;
  top: 150px;
}
div.tweet .cloud {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 370px;
  z-index: 1000;
}
div.tweet .cloud .cloudContents {
  position: absolute;
  padding: 5px;
  left: 30px;
  top: 10px;
  width: 320px;
  height: 100px;
  box-sizing: border-box;
  border: 0 solid blue;
  font-size: medium;
  z-index: 1001;
  overflow-y: hidden;
}
div.tweet .cloud .cloudContents .author {
  font-weight: bold;
  color: #00b4ff;
}
div.tweet .cloud .authorImage {
  position: absolute;
  right: 70px;
  top: -40px;
  z-index: 1000;
}
div.tweet .cloud .authorImage > img {
  border: 1px solid #ccc;
  border-radius: 10px;
}
div.tweet .cloud .authorImage:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 94%;
  top: -2px;
  left: -1px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #00b4ff;
  border-radius: 10px;
  transform: rotate(-5deg);
}
div.tweet .cloud:after,
div.tweet .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-index: 999;
}
div.tweet .cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 100px;
  left: 60px;
  top: -40px;
  width: 100px;
  transform: scaleX(1.3);
}
div.tweet .cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  width: 150px;
  height: 150px;
  right: 40px;
  top: -50px;
  transform: scaleX(1.3);
}
.slide-in {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.slide-out {
  animation: slide-out 1.5s forwards;
  -webkit-animation: slide-out 1.5s forwards;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
@keyframes slide-in {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(20%);
    opacity: 0;
  }
}
